<div class="container my-5">
    <h1 class=card-title>Stupid Coach</h1>
  <div class="card-body bg-light my-3 border-start border-5">
    <%= @question %>
  </div>
  <div class="card-body bg-warning my-3 border-start border-5 fw-bold">
    <%= @answer %>
  </div>
</div>
  <%# afficher question posée 
  afficher reponse du coach%>
