<div class="container my-5">
  <h1>Stupid Coaching</h1>
  Ask your coach anything
  <form action="/answer" data-turbo="false">
    <input class="form-control mb-3" type="text" name="question">
    <input  type="submit" value="Ask!" class="btn btn-primary mb-3">
  </form>
</div>
